@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.landing{
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    height: 100%;

       
}
.layer{
    background-color:rgba(0, 0, 0, 0.199);
    height: 100%;
}
.nav-item a{
    color: white !important;
    font-size: 18px;
}
.navbar{
    padding: 30px 0;
}

.text-area h1{
    font-size: 100px;
    font-family: 'Lobster', cursive;
}
.btn .btn-1{
    background-color: rgb(66, 47, 32);
}
 ul{
    list-style: none;
}
.offer{
    background-color: rgb(248, 248, 248);
}
.contact{
    background-color: rgb(64, 61, 56);
    color: #aaa;
}
.contact .item ul li{
    border-bottom: 1px solid  #222;
    padding-bottom: 20px;
}
.footer{
    padding: 30px 0;
  
       background-color: rgba(53, 51, 48);
       text-align: center;
       color: #fff;
}
.footer-logo  {
width: 120px;
}
.text-area{
    text-align: center;
    padding-top: 130px;
    color: white;
}
.text-area h1{
    font-size: 120px;
}
.text-area .ww{
    width: 30px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
    margin-top: 50px;
 

 margin-left: 50%;
padding-bottom: 50px;
  
  
}
.text-area span{
    height: 30px;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
}
